:root {
  font-family: 'Roboto';
  box-sizing: border-box;
  background-color: #333;
}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav-icon {
  min-width: auto !important;
  padding-right: 10px;
}

body > div.MuiDrawer-root.MuiDrawer-modal.MuiModal-root.css-1u2w381-MuiModal-root-MuiDrawer-root > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-iur3w5-MuiPaper-root-MuiDrawer-paper > div > ul > li:nth-child(2) > div > div.MuiListItemIcon-root.nav-icon.css-qklaqr-MuiListItemIcon-root > svg {
  transform: rotate(180deg);
}

.nav-logo {
  max-height: 40px;
  margin: 0 auto;
}

.item-list {
  display: flex;
  flex-direction: column;
}

.bag-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-num {
  display: flex;
  align-items: center;
}

.dex-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caught-icon {
  color: hsl(0, 85%, 65%);
}

.trainer-header {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.trainer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.trainer-avatar {
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  min-width: 90px;
  min-height: 90px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;;
}

.trainer-section-header {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
